.header{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    background-color: black;
}

.header_logo{
    margin-left:300px;
    font-size:20px;
    font-weight:bold;
    color:white;
}