.header{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    background-color: black;
}

.header_logo{
    margin-left:300px;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.form{
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    
}

.form_title{
    width:600px;
    height:30px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.form_body{
    width:700px;
    height:280px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.form_body_name{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_name-text{
    width:60%;
    height:100%;
}

.form_body_name-text-tag-h{
    color:gray;
}

.form_body_email{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_email-text{
    width:60%;
    height:100%;
}

.form_body_name-email-tag-h{
    color:gray;
}

.form_body_tel{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_tel-text{
    width:60%;
    height:100%;
}

.form_body_tel-text-tag-h{
    color:gray;
}

.form_body_contact{
    display:flex;
    justify-content:space-between;
    align-items:first baseline;
    width:100%;
}

.form_body_contact-text{
    width:60%;
    height:100%;
}




.form_button{
    width:600px;
    height:30px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.form_button input{
    background-color: black;
    color:white;
    width:50%;
    height:100%;
}