.form{
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    
}

.form_title{
    width:600px;
    height:30px;
    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.form_body{
    width:800px;
    height:280px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.form_body_name{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_name-h{
    margin-right:100px;
    color:gray;
}

.form_body_name-text{
    width:60%;
    margin-right:50px;
}

.form_body_error{
    display:flex;
    width:100%;
    justify-content:right;
}

.form_body_error-message{
    width:60%;
    margin-right:50px;
    color:red;
}

.form_body_email{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_email-text{
    width:60%;
    height:100%;
    margin-right:50px;
}

.form_body_email-h{
    margin-right:100px;
    color:gray;
}

.form_body_tel{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.form_body_tel-text{
    width:60%;
    height:100%;
    margin-right:50px;
}

.form_body_tel-h{
    margin-right:100px;
    color:gray;
}

.form_body_contact{
    display:flex;
    justify-content:space-between;
    align-items:first baseline;
    width:100%;
}

.form_body_contact-text{
    width:60%;
    height:100%;
    margin-right:50px;
}




.form_button{
    width:600px;
    height:30px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.form_button input{
    background-color: black;
    color:white;
    width:50%;
    height:100%;
}